{
    "exclude": ["node_modules/**"],
    "presets": [
        ["@babel/preset-env", {
            "targets": "ie >= 9"
        }]
    ],
    "plugins": [
        "@babel/plugin-transform-object-assign",
        "transform-custom-element-classes"
    ]
}
