sudo: required
language: node_js
node_js: "stable"

addons:
  chrome: stable

notifications:
  email: false

before_install:
  - stty cols 80

script:
  # Main repo
  - if [ $TRAVIS_PULL_REQUEST = "false" ]; then npm run test-remote; fi
  # Forks (Travis blocks encrypted environment variables, so no remote tests)
  - if [ $TRAVIS_PULL_REQUEST != "false" ]; then npm test; fi

after_success:
  - bash <(curl -s https://codecov.io/bash) -e TRAVIS_NODE_VERSION
